/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #000000, #8A2BE2);
    color: #FFFFFF;
}

/* Header Styles */
header {
    background-color: rgba(31, 31, 31, 0.9);
    padding: 20px;
    text-align: center;
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Footer Styles */
footer {
    background-color: rgba(31, 31, 31, 0.9);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Links Styles */
a {
    color: #BB86FC;
}

a:hover {
    color: #3700B3;
}
